.btn {
    padding: 13px 33px;
    background-color: #fff;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: border 0.2s linear;

    &:hover {
        border-color: #ff9100;
    }

    &--black {
        color: #fff;
        background-color: #000;
        width: 100%;
        border: 2px solid transparent;
    }

    &--sign {
        font-size: 15px;
        padding-left: 23px;
        padding-right: 23px;
    }

}
