.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__img-wrap {
        flex-shrink: 1;
        flex-basis: 33.33%;
        flex-grow: 1;
    }

    &__img {
        display: block;
        max-width: 334px;
        min-width: 200px;
        height: auto;
        margin: 0 auto;
    }
}