.nav {
    text-align: center;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        &__item {
            list-style: none;
        }
    }

    &__link {
        display: block;
        padding: 5px 10px;
        color: #656565;
        text-decoration: none;
       
        &::after {
            content: '';
            display: block;
            border-bottom: 1px solid transparent;
            transition: border .25s linear
        }

        &--active::after {
            border-bottom: 1px solid #ff9100; 
        }

        &:hover::after {
            @extend .nav__link--active::after
        }
 
    }
}
